*, *::before, *::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Cabin', sans-serif;
}
main {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
}
main section {
    flex: 1;
    min-height: 100vh;
    padding: 30px;
    transition: 1s;
    background-color: #f4f8f9;
}
.d-flex {
    display: flex;
    align-items: center;
}

.w75 {
    margin-left: 250px;
    transition:0.2;
}