*, *::before, *::after {
    box-sizing: border-box;
}
body {
    margin: 0;
}
main {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
}
main section {
    flex: 1;
    min-height: 100vh;
    padding: 30px;
    transition: 1s;
}
