.LeftContainer {
    border: 1px solid #dbdbdb;
    width: 30%;
    max-width: 300px;
    padding: 15px;
    min-width: 280px;
    color: #0b265c;
    background-color: #fff;
    border-radius: 5px;
}
.Avatar {
    width: 100px;
}

.ActiveStatus {
    color: #fff;
    background-color: #4CAF50;
    padding: 5px 10px;
    margin-bottom: 20px;
    display: inline-block;
    border: 1px solid;
    border-radius: 20px;
}
.InactiveStatus {
    color: #fff;
    background-color: #E91E63;
    padding: 5px 10px;
    margin-bottom: 20px;
    display: inline-block;
    border: 1px solid;
    border-radius: 20px;
}
.BasicInfo {
    text-align: center;
}
.ContactInformation {
    border-top: 1px dashed #5d7d8b;
    padding-top: 10px;
    font-size: 14px;
}
.ContactInformation > div {
    margin-bottom: 12px;
}
.ContactInformation  div  span {
    font-weight: bold;
}
.ContactInformation p {
    margin: 0;
}

.ContactInformation  p  a {
    text-decoration: none;
    color: #222;
}
.ButtonWrapper {
    margin: 20px;
}
.BackButton {
    text-decoration: none;
    border: 1px solid #085ea2;
    padding: 2px 10px;
    border-radius: 4px;
    color: #fff;
    background-color: #085ea2;
    cursor: pointer;
}