.SidebarLinks {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 25%;
    max-width: 300px;
    height: 100vh;
    position: relative;
    background-color: rgb(11, 39, 92);
}
.Open {
    transition: 1s;
    width: 25%;
}
.Close {
    width: 0;
    transition: 1s;
}
.CloseBtn {
    position: absolute;
    right: -40px;
    top: 0px;
    background: #fff;
    width: 40px;
    height: 40px; 
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.SidebarLinks a {
    margin: 20px 0;
    color: #fff;
    text-decoration: none;
    
}
.Logo {
    width: auto;
    height: 60px;
}