.ProfileImg {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.Table {
    width: 100%;
    text-align: left;
}
table, tr, th, td {
    border-collapse: collapse;
}
.StudentRow {
    border-bottom: 1px solid #eee;
}